<%= semantic_form_for([:admin, resource]) do |f| %>
  <%= f.inputs do %>
    <%= f.input :cname, :hint => I18n.t('admin.themings.cname_hint') %>
    <%= f.input :copyright_link_label %>
    <%= f.input :copyright_link_url %>
    <%= f.input :imprint_link_label %>
    <%= f.input :imprint_link_url %>
    <%= f.input :theme, :include_blank => false, :member_label => :css_dir %>
  <% end %>
  <%= f.actions do %>
    <%= f.action(:submit) %>
    <%= f.action(:cancel, :wrapper_html => {:class => 'cancel'}) %>
  <% end %>
<% end %>